/* base.scss */
$media: screen;

$yellow: #FFD362;
$lightGrey: #EEEEED;


$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
h1{display:inline;}

@import 'reset';
@import 'grid';
@import 'layout';
@import 'type';

